.RangeFilter {
    padding: 10px;
    float: right;
    max-width: 400px;
}

.RangeFilter .Title {
    width: 100%;
    font-weight: 600;
    text-align: right;
}

.RangeFilter .Labels {
    font-weight: 600;
    display: inline;
}

.RangeFilter input {
    margin: 0 10px 0 10px;
}
